
<%= header(@edition.name + " <b>" + getTopicName(@topic) + "</b>") %>
<% action_buttons4("editionen", @edition, @topic) %>
<% navigate2("editionen", @edition, 1) %>

<div class="row">
  <div class="panel-body">
      <%=  build_edition(@edition) %>
  </div>
</div>
  