
<div class="row">
    <%= header(@questionaire.mtype.to_s + " " + @questionaire.name.to_s + " <span class='badge'>" + @questions.count.to_s + "</span>") %>
</div>

<%= build_questionaire(@questionaire) %>

<%= link_to mobject_path(:id => @questionaire.id) do %>
  <i class="btn btn-default btn-lg">Abbrechen</i>
<% end %>
