<h2>Toggle Switch</h2>

<label class="switch">
  <input type="checkbox">
  <span class="sliders"></span>
</label>
Hallo
<label class="switch">
  <input type="checkbox" checked>
  <span class="sliders"></span>
</label><br><br>

<label class="switch">
  <input type="checkbox">
  <span class="sliders round"></span>
</label>

<label class="switch">
  <input type="checkbox" checked>
  <span class="sliders round"></span>
</label>