
<div class="container">
  <div class="row">
    <h2>Media Slider Carousel BS3</h2>
  </div>
  <div class='row'>
    <div class='col-md-8'>
      <div class="carousel slide media-carousel" id="media">
        <div class="carousel-inner">
          <div class="item  active">
            <div class="row">
              <% for i in 0..20 %> 
                  <div class="col-md-4">
                    <%= showImage2(:medium, User.first, true) %>
                    <%= User.first.name %>
                    <!--<a class="thumbnail" href="#"><img alt="" src="http://placehold.it/150x150"></a>-->
                  </div>
              <% end %>
              <!--<div class="col-md-4">-->
              <!--  <a class="thumbnail" href="#"><img alt="" src="http://placehold.it/150x150"></a>-->
              <!--</div>-->
              <!--<div class="col-md-4">-->
              <!--  <a class="thumbnail" href="#"><img alt="" src="http://placehold.it/150x150"></a>-->
              <!--</div>        -->
            </div>
          </div>
          <div class="item">
            <div class="row">
              <% for i in 0..20 %> 
                  <div class="col-md-4">
                    <%= image_tag("anhang.jpg", :size => "100x100", class:"card-img-top img-responsive" ) %><br>
                    <%= "download Dokuemnt" %>
                    <!--<a class="thumbnail" href="#"><img alt="" src="http://placehold.it/150x150"></a>-->
                  </div>
              <% end %>
              <!--<div class="col-md-4">-->
              <!--  <a class="thumbnail" href="#"><img alt="" src="http://placehold.it/150x150"></a>-->
              <!--</div>-->
              <!--<div class="col-md-4">-->
              <!--  <a class="thumbnail" href="#"><img alt="" src="http://placehold.it/150x150"></a>-->
              <!--</div>        -->
            </div>
          </div>
          <div class="item">
            <div class="row">
              <div class="col-md-4">
                <a class="thumbnail" href="#"><img alt="" src="http://placehold.it/150x150"></a>
              </div>          
              <div class="col-md-4">
                <a class="thumbnail" href="#"><img alt="" src="http://placehold.it/150x150"></a>
              </div>
              <div class="col-md-4">
                <a class="thumbnail" href="#"><img alt="" src="http://placehold.it/150x150"></a>
              </div>      
            </div>
          </div>
        </div>
        <a data-slide="prev" href="#media" class="left carousel-control">‹</a>
        <a data-slide="next" href="#media" class="right carousel-control">›</a>
      </div>                          
    </div>
  </div>
</div>