

    <div id="wordtree_basic" style="width: 900px; height: 500px;"></div>


    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {packages:['wordtree']});
      google.charts.setOnLoadCallback(drawChart);


      function drawChart() {
        var data = google.visualization.arrayToDataTable(
          [ ['Phrases'],
            ['Horst_Wurm hat Vermögenswert EFH in Höhe von 1.5 Mio CHF'],
            ['Horst_Wurm hat Vermögenswert Auto in Höhe von 50 KCHF'],
            ['Horst_Wurm hat Vermögenswert 3.Säule 125000 KCHF'],
            ['Horst_Wurm hat Hobby Golf'],
            ['Horst_Wurm hat Beziehung zu Hans_Wurst'],
            ['Horst_Wurm hat Beziehung zu Donald_Trump'],
            ['Horst_Wurm hat Beziehung zu Curdin_Schläpfer'],
            ['Horst_Wurm möchte Einladungen zu Event Golf'],
            ['Horst_Wurm hat Verbindlichkeit Hypothek bei Raiffeisen in Höhe 600000 CHF'],
            ['Horst_Wurm hat Verbindlichkeit Alimente in Höhe 3000 CHF'],
            ['Horst_Wurm hat Hobby Schach'],
            ['Horst_Wurm hat Konto bei Raiffeisen mit Saldo 25000 CHF'],
            ['Horst_Wurm hat Konto bei Raiffeisen mit Saldo 5000 CHF'],
            ['Horst_Wurm hat Konto bei Schaffhauser KB mit Saldo 3000 CHF'],
            ['Horst_Wurm plant Kauf eines EFH'],
            ['Horst_Wurm plant Frühpensionierung mit 60'],
            ['Horst_Wurm möchte Informationen zu Frühpensionierung'],
            ['Horst_Wurm möchte Informationen zu VV Basis'],
            ['Horst_Wurm möchte Informationen zu Steuerberatung'],
            ['Horst_Wurm möchte Informationen zu Vorsorge'],
            ['Horst_Wurm plant eine USA Reise im Jahr 2020'],
            ['Horst_Wurm nutzt TKB Produkt Service-Paket Basis'],
            ['Horst_Wurm nutzt TKB Produkt 3.Säule'],
            ['Horst_Wurm nutzt TKB Produkt Zusatzkarte'],
          ]
        );

        var options = {
          wordtree: {
            format: 'implicit',
            word: 'Horst_Wurm'
          }
        };

        var chart = new google.visualization.WordTree(document.getElementById('wordtree_basic'));
        chart.draw(data, options);
      }
    </script>
