  <div class="row">
    <div class="col-md-12">
        <div class="panel-body ueberschrift">
            <%= header((I18n.t :rating) + " " + @idea.header) %>
        </div>
    </div>
  </div>
  
  <%= build_medialistNew(@idea.mobject.crits, "crits", @idea.id) %>

  <%= link_to(mobject_path(:id => @idea.mobject.id, :topic => "objekte_ideen")) do %>
      <% content_tag(:i, " Abbrechen", class:"btn btn-default btn-lg") %>
  <% end %>
  