  <section id="dashboard" class="section-padding wow fadeIn delay-05s">
    <div class="header">
      <div class="bg-color">
        <div class="wrapper">
          <div class="container">
            <div class="row">
              <div class="banner-info text-center wow fadeIn delay-05s">
               <h2 class="bnr-sub-title">TGCloud Cockpit</h2>
                <p class="bnr-para">Alles auf einem Blick...<br> </p>
                <div class="brn-btn">
                	
                  <h3>
                    User Online: <span class="logo-dec"><div id="field1" style="display:inline"></div></span>
                    User registriert: <span class="logo-dec"><div id="field2" style="display:inline"></div></span>
                    Projekte: <span class="logo-dec"><div id="field3" style="display:inline"></div></span>
                    Leistungserfassungen: <span class="logo-dec"><div id="field4" style="display:inline"></div></span>
                    Kapazitätsplanungen: <span class="logo-dec"><div id="field5" style="display:inline"></div></span>
                    Wettbewerbe: <span class="logo-dec"><div id="field6" style="display:inline"></div></span>
                    Ideen: <span class="logo-dec"><div id="field7" style="display:inline"></div></span>
                  </h3>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
<% @mobject = Mobject.find(1) %>

<script>
window.setInterval(callme, 50000 );

function callme2() {
  alert("hi");
  $("#field1").text("<%= Time.now %>");
}

function callme() {
      //alert("hi");
      $.ajax({

      crossDomain: true,
      //url: "https://tgcloudtest-horstwurm.c9users.io/home/arduino.json",
      url: "/home/arduino.json",

      //force to handle it as text
      dataType: "text",
      success: function(data) {
        //data downloaded so we call parseJSON function 
        //and pass downloaded data
        var json = $.parseJSON(data);
        $("#field1").text(json[0].user);
        $("#field2").text(json[1].reg);
        $("#field3").text(json[2].projekte);
        $("#field4").text(json[3].aufwand);
        $("#field5").text(json[4].kapa);
        $("#field6").text(json[5].wettbewerbe);
        $("#field7").text(json[6].ideen);
        //alert(json[0].id + json[0].kategorie + " " + json[0].summe);
      }
  });
}

</script>