  <section id="dashboard" class="section-padding wow fadeIn delay-05s">
    <div class="header">
      <div class="bg-color">
        <div class="wrapper">
          <div class="container">
            <div class="row">
              <div class="banner-info text-center wow fadeIn delay-05s">
               <h2 class="bnr-sub-title">TGCloud Cockpit</h2>
                <p class="bnr-para">Alles auf einem Blick...<br> </p>
                <div class="brn-btn">
                	
                  <h3>
                    <span class='logo-dec'><div id="field1"></div></span>
                    <div id="field2"></div>
                    <div id="field3"></div>
                    <div id="field4"></div>
                    <div id="field5"></div>
                    <div id="field6"></div>
                  </h3>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
<% @mobject = Mobject.find(1) %>

<script>
window.setInterval(callme, 5000 );

function callme2() {
  alert("hi");
  $("#field1").text("<%= Time.now %>");
}

function callme() {
      //alert("hi");
      $.ajax({

      crossDomain: true,
      //url: "https://tgcloudtest-horstwurm.c9users.io/home/arduino.json",
      url: "mytgcloudtest.herokuapp.com/home/arduino.json",

      //force to handle it as text
      dataType: "text",
      success: function(data) {
        //data downloaded so we call parseJSON function 
        //and pass downloaded data
        var json = $.parseJSON(data);
        $("#field1").text("User Online: "+json[0].user);
        $("#field2").text("Projekte: "+json[1].projekte);
        $("#field3").text("Leistungserfassung: "+json[2].aufwand);
        $("#field4").text("Kapazitäten: "+json[3].kapa);
        $("#field5").text("Wettbewerbe: "+json[4].wettbewerbe);
        $("#field6").text("Ideen: "+json[5].ideen);
        //alert(json[0].id + json[0].kategorie + " " + json[0].summe);
      }
  });
}

</script>