    <section id="feature" class="section-padding wow fadeIn delay-05s">
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="wrap-item text-center">
              <div class="item-img">
                <%= image_tag("ser01.png") %>
              </div>
              <h3 class="pad-bt15">EINFACH</h3>
              <p>Einfach anmelden und loslegen.</p>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="wrap-item text-center">
              <div class="item-img">
                <%= image_tag("ser02.png") %>
              </div>
              <h3 class="pad-bt15">INTUITIV</h3>
              <p>Einfache Bedienkonzepte.</p>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="wrap-item text-center">
              <div class="item-img">
                <%= image_tag("ser03.png") %>
              </div>
              <h3 class="pad-bt15">GÜNSTIG</h3>
              <p>Finden Sie einen gänstigeren Service, dann geben Sie uns Bescheid .</p>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="wrap-item text-center">
              <div class="item-img">
                <%= image_tag("ser04.png") %>
              </div>
              <h3 class="pad-bt15">SICHER</h3>
              <p>Bei uns sind Ihre Daten gut aufgeboben. Für jeden Service steht Ihnen ein Datendownload zur Verfügung</p>
            </div>
          </div>
        </div>
      </div>
    </section>

