    <section id="myservices" class="section-padding wow fadeIn delay-05s">
      <div class="container">
        <div class="row">
          <%= build_services %>
        </div>
      </div>
    </section>

