  <section id="subscription" class="section-padding wow fadeIn delay-05s">
    <div class="header">
      <div class="bg-color">
        <div class="wrapper">
          <div class="container">
            <div class="row">
              <div class="banner-info text-center wow fadeIn delay-05s">
               <h2 class="bnr-sub-title">Aktuell verfügbare Abonnements</h2>
                <p class="bnr-para">Sie können die Service gratis nutzen; Wollen Sie mehr als drei Services (Projekte, Umfragen, Wettbewerbe, etc) selbst erstellen, dann müssen Sie ein entsprechendes Abonnement lösen<br> </p>
                <div class="brn-btn">
		            <%= build_medialistNew(Appparam.where('info=?', "payable"), "appparams", "user") %>
					      <br><br>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
