<% if false %>
    <section id="yield" class="section-padding wow fadeInUp delay-05s">
        <%= yield %>
    </section>
<% end %>

  <section id="yield" class="section-padding wow fadeIn delay-05s">
    <div class="yieldheader">
      <div class="yieldbg-color">
        <div class="wrapper">
          <div class="container-fluid">
            <div class="row">
              <div class="wow fadeIn delay-05s">
                <%= yield %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>